body {
    background-color: #E8E8E9;
}

#pin-creator-container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;

    .content {
        background-color: #FFFEFE;
        border-radius: 16px;        
        padding: 45px;
        width: 880px;
    }

    .save-button-container {
        position: relative;
        height: 40px;
    }

    .save-button-container div {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
    }
 
    select {
        padding: 10px 90px 10px 5px;
        height: 40px;
        margin-right: 0;
        border: 0;
        background-color: #EEEFEE;
        border-radius: 8px 0px 0px 8px;      
        &:focus {
            outline: none;
        }
    }
      
    option {
        margin-bottom: 0;
        padding-bottom: 0;
      }
      
    button {        
        color:white;
        border: 0;
        width: 100px;
        padding: 0px 14px;
        margin: 0;
        border-radius: 0px 8px 8px 0px;
        height: 40px;
        width: 60px;
    }
  
    .upload-picture-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #EEEEEF;
        min-height: 500px;
        text-align: center;
        cursor: pointer;
        border-style: dashed;
        border-color: #dbdbdb;
    }

    .upload-picture-col p {
        margin: 2rem 0;
        width: 200px;
    }

    .form-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .form-col .title-field-custom, .description-field-custom, .link-field-custom {
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        &:focus {
            outline: none;
            border: none;
            border-bottom: 1px solid black;
        }
    }
    
    .form-col .title-field-custom {
        font-size: 36px;
        font-weight: 700;
        margin-top: 1rem;
    }

    .form-col .profile-name {
        margin: 2rem 0;
    }

    .form-col .description-field-custom {
        font-size: 16px;
        padding-bottom: 15px;
    }

    .form-col .description-field-custom {
        font-size: 16px;
        padding-bottom: 15px;
        padding-left: 15px;
    }

    .form-col .link-field-custom {
        font-size: 18px;
    }
}