h1 {
    font-size: 28px;
    margin: 1rem 0;
}

.space {
    margin: 5rem 0;
}

.content {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 32px;
    width: 1016px;
    margin: 1rem auto 3rem auto; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
}

.left {
    width: 506px;
    border-radius: 32px 0 0 32px;
    img {
        border-radius: 32px 0 0 32px;
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
}

.right {
    margin: 32px;
    width: 444px;
    .save-top {
        position: relative;
        height: 40px;
    }
    .save-button {        
        text-align: center;
        border-radius: 24px;
        color: white;
    }
    .trash-icon-pin {
        width: 40px;
        padding: 10px;
        cursor: pointer;
        border-radius: 100%;
        &:hover {
            background-color: rgb(224, 224, 224);
        }
    }
    .trash-icon-comment {
        cursor: pointer;
        border-radius: 100%;
        &:hover {
            background-color: rgb(224, 224, 224);
        }
    }
    select.board {
        background-color: unset;
        margin-right: .8rem;
    }
    .pin-values {
        margin-top: 1rem;
    }
    .user-middle {
        margin-top: 1rem;
    }
    .user-middle p, .comments-bottom p {
        margin-bottom: 0;
    }
    .fullname {
        font-weight: 500;
    }
    .fullname, .number-following {
        font-size: 14px;
    }
    .follow-btn {
        background-color: #EEEEEF;
        border: 0;
        height: 40px;
        padding: 0 20px;
        border-radius: 32px;
        font-weight: 500;
        &:hover {
            background-color: #e2e2e2;
        }
    }
    .comments-bottom {
        margin-top: 3.5rem;
        position: relative;
    } 
    .comments-bottom .fullname {
        &:hover {
            text-decoration: underline;
        }
    } 
    .comments-bottom .profile-picture-circle {
        width: 32px !important;
        height: 32px !important;
    }
    .comments-bottom .user-info {
        width: 100px;
    }
    .comments-bottom .comment-ago, .heart-count, .text-comment {
        font-size: 14px;
    }
    .comments-bottom #comment-section {
        height: calc(var(--pin-image-height) / 2);
        overflow: auto;
    }
    .comments-bottom .text-comment {
        padding-top: 3px;
    }
    .comments-bottom .comment-field {
        display: flex;
        align-items: center;
        height: 90px;
        position: sticky;
        bottom: 0;
        background-color: white;
        z-index: 5;
    }
    .comments-bottom .comment-input {
        padding: 1rem;
        border: 0;
        outline: none;
        background-color: #E8E8E9;
        width: 100%;
        border-radius: 32px;
        height: 51px;
        cursor: pointer;
        &:hover {
            background-color: #d8d8d8;
        }
        &:focus {
            cursor: auto;
        }
    }
    .comments-bottom .comment-field .profile-picture-circle {
        width: 63.5px !important;
        height: 48px !important;
        object-fit: cover;
        border-radius: 100%;
    } 
    .comments-bottom .comment-btn {
        width: 55px;
        height: 45px;
        border-radius: 100%;
        background-color: #d8d8d8;  
        position: relative;
        border: 0;
        &:hover {
            background-color: #cfcfcf;  
        }
    }
    .comments-bottom .arrow-icon {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    h2 {
        font-size: 20px;
        margin-bottom: 2rem;
    }
    .no-comments {
        margin-top: 2rem;
    }
    a.destination-link {
        text-decoration: underline;
    }
    a:hover {
        color: inherit;
    }
    .profile {
        width: 45px;
        padding: 15px;
        border-radius: 100%;
        text-align: center;
        background-color: #EEEEEE;
    }
}

#delete-board-container  {
    display: none;
    background-color: #FFFEFE;
    width: 540px;
    border-radius: 16px;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 99;
    pointer-events: auto;

    h1.delete-question {
        font-size: 28px;
        padding: 24px;
        text-align: center;
    }
    p.warning-description {
        padding: 16px;
        text-align: center !important;
    }
    div.buttons-div {
        padding: 24px;
    }
    button {
        padding: 4px;
        outline: none;
        border: 0;
        font-weight: 500;
        height: 48px;
        padding: 16px;
        text-align: center;
        border-radius: 24px;
        margin: 4px;
        width: 100%;
    }
    button.cancel-btn {
        background-color: #eeefee;
        &:hover {
            background-color: #e2e2e2;            
        }
    }
    button.delete-btn {
        color: white;
        &:hover {
            background-color: #be001d;
        }
    }
}

@media only screen and (max-width: 1110px) {
    .content {
        border-radius: 32px;
        width: 816px;
    }
    
    .left {
        width: 408px;
        border-radius: 32px 0 0 32px;
        img {
            border-radius: 32px 0 0 32px;
        }
    }
    
    .right {
        margin: 32px;
        width: 408px;
        .trash-icon, .save-top, .follow-btn {
            height: 37px;
        }
        .save-top {
            position: relative;
        }
        button[type='submit'] {        
            border-radius: 24px;
        }
        .trash-icon {
            padding: 9px;   
        }
        select.board {
            background-color: unset;
            margin-right: .8rem;
        }
        .user-middle {
            margin-top: 3.8rem;
        }        
        .comments-bottom {
            margin-top: 4rem;
        }  
        .comments-bottom .profile-picture-circle {
            width: 30px;
            height: 30px;
        }
        .comments-bottom .user-info {
            width: 98px;
        }
        .comments-bottom .comment-ago, .heart-count, .text-comment {
            font-size: 14px;
        } 
        .comments-bottom .text-comment {
            padding-top: 3px;
        }
        .comments-bottom .comment-field {
            display: flex;
            align-items: center;
            height: 80px;
        }
        .comments-bottom .comment-input {
            padding: .8rem;
            height: 46px;          
        }
        .comments-bottom .comment-field .profile-picture-circle {
            width: 46px;
            height: 46px;
        } 
        h2 {
            font-size: 17px;
            margin-bottom: 1rem;
        }
        .no-comments {
            margin-top: 1.5rem;
        }
    }
}

@media only screen and (max-width: 857px) {
    .left {
        width: fit-content;  
        border-radius: 32px 0 0 32px;
        img {
            width: 65%;
            border-radius: 32px 32px 0 0;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }    
 
    .content {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 32px;
        margin: 1rem auto 3rem auto;
    }

    .right { 
        .user-middle {
            margin-top: 2rem;
        }
        .comments-bottom {
            margin-top: 2.5rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    .right .comments-bottom .comment-field {
        bottom: 40px;
    }
}

@media only screen and (max-width: 570px) {  
    option {
        font-weight: 10px !important;
        display: block;
        white-space: nowrap;
        min-height: 12em;
        padding: 0px 2px 1px;
    }

    .left {
        width: 100%;  
        border-radius: 0 0 0 0;
        img {
            border-radius: 0 0 0 0;
            width: 100%;
        }
    }    

    .right {
        margin: 32px;
        width: 80%;
    }
 
    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 0;
        margin: 0 auto 1rem auto;
        box-shadow: none;
    }
    
    .right { 
        .user-middle {
            margin-top: 2rem;
        }
        .comments-bottom {
            margin-top: 2.5rem;
        }      
    }   
}