{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block file_css %}
    <link rel="stylesheet" href="{% static 'accounts/styles/all-pins.css' %}">  
    <link rel="stylesheet" href="{% static 'accounts/styles/specific-board.css' %}">  
{% endblock file_css %}

{% block content %}
    {% include 'sections/navbar.html' %}
    <div class="space"></div>
    <h1 class="text-center">All Pins</h1>    
    <div class="flex-container">            
        {% for pin in pins %}                            
            <div  class="card">
                <a href="{% url 'social_sharing:pin-detail' pin.pin_id %}">
                    <img src="{{ pin.image.url }}" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">{{ pin.title }}</p>  
                    </div>
                </a>         
            </div>              
        {% endfor %}    
    </div>        
{% endblock content %}
    