{% extends 'base.html' %}
{% load custom_filters %}
{% load widget_tweaks %}
{% load static %}

{% block file_css %}
  <link rel="stylesheet" href="{% static 'social_sharing/styles/pin-detail.css' %}">        
{% endblock file_css %}
    

{% block title %} Pinterest {% endblock title %}
    

{% block content %}
  {% include 'sections/navbar.html' %}  
  
  {% url 'accounts:pin-delete' pin_id=own_pin.id as link %}
  {% include 'sections/delete-container.html' with description="Once you delete a Pin, you can't undo it!" link=link %}
  
  <div class="space"></div>
  <div id="whole-content">
    <div class="content">
      <section class="left">
        <img src="{{ own_pin.pin.image.url }}" alt="" id="pin-image">
      </section>
      <section class="right">
        <div class="save-top d-flex align-items-center justify-content-between">
          <div>             
            {% if own_pin.user == request.user %}            
              <img src="{% static 'icons/waste-32.png' %}" alt="trash icon" id="delete-board-button" class="trash-icon-pin d-flex align-items-center justify-content-center">                
            {% endif %}
          </div>  
          <form method="POST">
            {% csrf_token %}           
            {% render_field own_pin_form.board class='board' %}
            <button class="background-primaryColor save-button" name="save_pin">Save</button>
          </form>
        </div>
        <div class="pin-values">          
          {% if own_pin.pin.destination_link %}                        
           <a href="{{ own_pin.pin.destination_link }}" target="_blank" class="destination-link">{{ own_pin.pin.destination_link|extract_domain }}</a>
          {% endif %}

          <h1>{{ own_pin.pin.title }}</h1>          

          {% if own_pin.pin.description %}                        
            <p>{{ own_pin.pin.description }}</p>
          {% endif %}
        </div>
        <div class="user-middle d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center justify-content-between">  
            
              {% if own_pin.pin.user.profile_picture %}
                <img src="{{ own_pin.pin.user.profile_picture.url }}" alt="" class="profile-picture-circle">                      
              {% elif not own_pin.pin.user.profile_picture and own_pin.pin.user.firstname %}
                <a href="{% url 'accounts:personal-profile' %}" class="col-1 profile mt-1 text-center" id="profile">
                  {{ own_pin.pin.user.firstname|slice:"1" }}
                </a>                                
              {% else %}
                <a href="{% url 'accounts:personal-profile' %}" class="col-1 profile mt-1 text-center" id="profile">
                    N
                </a>
              {% endif %}                              

            <div class="mx-2"></div>
            <div class="d-flex flex-column">

              {% if not own_pin.pin.user.firstname %}
                <a href="{% url 'accounts:personal-profile' %}"><p class="fullname">None</p></a>              
              {% elif own_pin.pin.user.firstname and pin.user == request.user %}                                
                <a href="{% url 'accounts:personal-profile' %}"><p class="fullname">{{ own_pin.pin.user.firstname }} {{ own_pin.pin.user.lastname }}</p></a>
              {% else %}
                <a href="{% url 'home:public-profile' own_pin.pin.user.username %}"><p class="fullname">{{ own_pin.pin.user.firstname }} {{ own_pin.pin.user.lastname }}</p></a>
              {% endif %}              
                
              <p class="text-muted number-following">{{ following_count }} followers</p>
            </div>  
          </div>
          {% if request.user != own_pin.pin.user %}                        
            <!-- Follow and following are for those who is not the creator of this pin -->
            {% if request.user.is_authenticated and not do_you_follow %}                        
                <a href="{% url 'accounts:follow' own_pin.pin.user.username %}"><button class="follow-btn" name="save-pin">follow</button></a>
            {% else %}
                <a href="{% url 'accounts:unfollow' own_pin.pin.user.username %}"><button class="save-button following-button" name="save-pin">following</button></a>
            {% endif %}
          {% endif %}

        </div>

        <div class="comments-bottom">
          <h2>{{ comments_length }} Comments</h2>
          <div id="comment-section">            
          {% if not comments %}                          
          <p class="text-muted no-comments">No comments yet! Add one to start the conversation.</p>
          {% else %}
            {% for comment in comments %}                        
              <div class="d-flex mt-2">
                <div class="d-flex">                  
                  {% if comment.user.profile_picture %}
                    <img src="{{ comment.user.profile_picture.url }}" alt="" class="profile-picture-circle">                    
                  {% else %}
                    <a href="{% url 'accounts:personal-profile' %}" class="col-1 profile mt-1 text-center" id="profile">
                      {{ request.user.firstname|slice:"1" }}
                    </a> 
                  {% endif %}                    
                  <div class="mx-1"></div>
                    <div class="user-info">
                      {% if request.user == comment.user %}
                        <a href="{% url 'accounts:personal-profile' %}"><span class="fullname">{{ comment.user.firstname }}</span></a>
                      {% else %}
                        <a href="{% url 'home:public-profile' comment.user.username %}"><span class="fullname">{{ comment.user.firstname }}</span></a>                      
                      {% endif %}
                      <br>
                      <span class="text-muted comment-ago">{{ comment.date_added|date:"F j, Y" }}</span>
                      <div>
                        {% if request.user in comment.hearts.all %}
                          <a href="{% url 'social_sharing:heart-decrement' comment.pin.pin_id comment.text comment.pk %}" class="ml-2" id="heart-icon"><img src="{% static 'icons/heart-red-16.png' %}" alt=""></a>                  
                        {% else %}
                          <a href="{% url 'social_sharing:heart-increment' comment.pin.pin_id comment.text comment.pk %}" class="ml-2" id="heart-icon"><img src="{% static 'icons/heart-16.png' %}" alt=""></a>                  
                        {% endif %}
                          <span class="text-muted heart-count">{{ comment.hearts.all.count }}</span>
                        {% if request.user == comment.user %}
                          <a href="{% url 'social_sharing:comment-delete' comment.id own_pin.pin.pin_id %}"><img src="{% static 'icons/waste-16.png' %}" alt="trash icon" class="trash-icon-comment"></a>
                        {% endif %}
                      </div>
                    </div>      
                </div>  
                <span class="text-comment">{{ comment.text }}</span>                       
              </div>   
            {% endfor %}
          {% endif %}      
        </div>  
        <form method="POST" class="comment-field">
          {% csrf_token %}          
          {% if request.user.profile_picture %}
            <img src="{{ request.user.profile_picture.url }}" alt="" class="profile-picture-circle">                      
          {% elif not request.user.profile_picture and request.user.firstname %}
            <a href="{% url 'accounts:personal-profile' %}" class="col-1 profile mt-1 text-center" id="profile">
              {{ request.user.firstname|slice:"1" }}
            </a>            
          {% elif not request.user.profile_picture and request.user.firstname %}
            <a href="{% url 'accounts:personal-profile' %}" class="col-1 profile mt-1 text-center" id="profile">
              {{ request.user.lastname|slice:"1" }}
            </a>            
          {% else %}
            <a href="{% url 'accounts:personal-profile' %}" class="col-1 profile mt-1 text-center" id="profile">
                N
            </a>
          {% endif %}
          <div class="mx-1"></div>
          {% render_field comment_form.text class='comment-input' placeholder='Add a public comment' %}
          <button type="submit" class="comment-btn" name="comment_add"><img src="{% static 'icons/comment-right-arrow-18.png' %}" alt="" class="arrow-icon"></button>
        </form>
        </div>
      </section>
    </div>
  </div>
{% endblock %}

{% block file_script %}
  <script src="{% static 'social_sharing/js/pin-detail.js' %}"></script>   
  <script src="{% static 'scripts/delete-container.js' %}"></script> 
{% endblock file_script %}