{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block file_css %}
    <link rel="stylesheet" href="{% static 'accounts/styles/profile.css' %}">  
    <link rel="stylesheet" href="{% static 'accounts/styles/plus-button.css' %}">  
{% endblock file_css %}
    
{% block title %} Pinterest {% endblock title %}


{% block content %}
    {% include 'sections/navbar.html' %}
    {% if messages %}                
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>        
        {% for message in messages %}
            {{ message }}
        {% endfor %}            
      </div>
  {% endif %}


<form method="POST" id="create-board-container">
    {% csrf_token %}
    <h2>Create board</h2>    
    <div class="my-2">
        <small class="text-muted">Name</small>
        {% render_field board_form.name class='form-control' %}
    </div>
    <div class="d-flex align-items-center checkbox-div">
        <div>
            {% render_field board_form.is_secret class='form-check-input' %}
        </div>
        <div class="mx-1"></div>
        <div>
            <p class="mb-0 keep-secret">Keep this board secret</p>
            <p class="text-muted mb-0">So only you and collaborators can see it. <a href="https://help.pinterest.com/en/article/secret-boards?source=secret_create" class="text-muted fw-light">Learn more</a></p>
        </div>
    </div>
    <div class="button-div d-flex justify-content-end">
        <button type="submit" class="text-white background-primaryColor">Create</button>
    </div>
</form>

<div id="whole-content">    
    <section id="top" class="d-flex justify-content-center">
        <div class="content text-center">            
            {% if request.user.firstname and not request.user.profile_picture %}
                <h1 class="d-flex justify-content-center my-0 mx-auto rounded-circle mb-3">{{ request.user.firstname|slice:"1" }}</h1>                
            {% elif request.user.firstname and request.user.profile_picture %}
                <img src="{{ request.user.profile_picture.url }}" alt="" class="profile-picture">                                  
            {% else %}
                <h1 class="d-flex justify-content-center my-0 mx-auto rounded-circle mb-3">N/A</h1>            
            {% endif %}
                
            <h2>{{ request.user.firstname }} {{ request.user.lastname }}</h2>
            <p class="text-muted username-pronoun mb-1">                
                {% if request.user.username %}
                    <span>{{ request.user.username }}</span>
                {% endif %}           
                
                {% if request.user.pronouns %}
                    · <span>{{ request.user.pronouns }}</span>                    
                {% endif %}                                                                                 
            </p>            
            
            {% if request.user.website %}
                <a href="{{ request.user.website }}" class="website" target="_blank">{{ request.user.website }}</a>                                            
            {% endif %}
                
            {% if request.user.about %}
                <p class="text-muted about mt-1">{{ request.user.about }}</p>                
            {% endif %}
                
            <p class="text-muted following">0 following</p>
            <a href="{% url 'accounts:edit-profile' %}" class="edit-profile rounded-pill">Edit Profile</a>            
        </div>
    </section>
    <section id="middle" class="d-flex justify-content-center">
        <p>Saved</p>
    </section>
    <section class="text-end">
        <img src="{% static 'icons/plus-40.png' %}" alt="" id="plus-button" class="plus-button" tabindex="0">      
    </section>
    <section id="bottom">
        <div class="plus-container" id="plus-container">
            <small class="text-muted">Create</small>
            <a role="button" id="create-board-button"><li>Board</li></a>
            <a href="{% url 'social_sharing:pin-builder' %}"><li>Pin</li></a>
        </div>
        <div class="flex-container text-center">            
            {% if user_boards.exists and boards_length > 1 %}      
                <div class="card text-center">                
                    <div class="row justify-content-center">
                        <div class="left">
                            <img src="{% static 'images/anime/mitsuki.jpg' %}" class="card-img-top">
                        </div>
                        <div class="right d-flex flex-column justify-content-between">
                            <img src="{% static 'images/anime/ino.jpg' %}" class="card-img-top top">
                            <img src="{% static 'images/anime/boruto.jpg' %}" class="card-img-top bottom">
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">All Pins</h5>
                        <p class="card-text text-muted">25 pins</p>
                    </div>
                </div>   
            {% endif %}                          
            {% if user_boards.exists %}         
                {% for board, pin_count in board_pins %}
                    <a href="{% url 'accounts:specific-board' board.slug %}" class="card text-center">
                      <div class="row justify-content-center">
                        <div class="left">                            
                            {% if board.is_secret %}                                
                                <img src="{% static 'icons/lock-25.png' %}" class="lock-icon">
                            {% endif %}                                
                            <img src="{% static 'images/anime/orochimaru.jpg' %}" class="card-img-top">
                        </div>
                        <div class="right d-flex flex-column justify-content-between">
                          <img src="{% static 'images/anime/sakura.jpg' %}" class="card-img-top top">
                          <img src="{% static 'images/anime/tobirama.jpg' %}" class="card-img-top bottom">
                        </div>
                      </div>
                      <div class="card-body">
                          <h5 class="card-title">{{ board.name }}</h5>                
                          <p class="card-text text-muted">{{ pin_count }} pins</p>
                      </div>
                    </a> 
                {% endfor %}
            {% endif %}

        </div>
    </section>
</div>
{% endblock content %}
    

{% block file_script %}
    <script src="{% static 'accounts/scripts/profile.js' %}"></script> 
    <script src="{% static 'accounts/scripts/plus-button.js' %}"></script> 
{% endblock file_script %}
    

