{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block file_css %}
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">  
    <link rel="stylesheet" href="{% static 'accounts/styles/profile.css' %}">  
{% endblock file_css %}
    
{% block title %} Pinterest {% endblock title %}


{% block content %}
    {% include 'sections/navbar.html' %}
    <section id="top" class="d-flex justify-content-center">
        <div class="content text-center">
            <h1 class="d-flex justify-content-center my-0 mx-auto rounded-circle mb-3">N/A</h1>
            <h2 class="">Set your fullname</h2>
            <p class="text-muted username-pronoun mb-1"><span>@llanzkenneth</span> · <span>he/him</span></p>
            <a href="https://www.youtube.com/" class="website" target="_blank">https://www.youtube.com/</a>
            <p class="text-muted about mt-1">I like web</p>
            <p class="text-muted following">0 following</p>
            <a href="{% url 'accounts:edit-profile' %}" class="edit-profile rounded-pill">Edit Profile</a>            
        </div>
    </section>

    <section id="middle" class="d-flex justify-content-center">
        <a href="#created">Created</a>
        <div class="mx-3"></div>
        <a href="#saved">Saved</a>
    </section>

    <section id="bottom">
        <div class="flex-container text-center">
            <div class="card text-center">                
                <div class="row justify-content-center">
                    <div class="left">
                        <img src="{% static 'images/anime/mitsuki.jpg' %}" class="card-img-top">
                    </div>
                    <div class="right d-flex flex-column justify-content-between">
                        <img src="{% static 'images/anime/ino.jpg' %}" class="card-img-top">
                        <img src="{% static 'images/anime/boruto.jpg' %}" class="card-img-top">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">All Pins</h5>
                    <p class="card-text text-muted">25 pins</p>
                </div>
            </div>      
            <div class="card text-center">                
                <div class="row justify-content-center">
                    <div class="left">
                        <img src="{% static 'images/anime/orochimaru.jpg' %}" class="card-img-top">
                    </div>
                    <div class="right">
                        <img src="{% static 'images/anime/sakura.jpg' %}" class="card-img-top">
                        <img src="{% static 'images/anime/tobirama.jpg' %}" class="card-img-top">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Control</h5>
                    <p class="card-text text-muted">3 pins</p>
                </div>
            </div>      
            <div class="card text-center">                
                <div class="row justify-content-center">
                    <div class="left">
                        <img src="{% static 'images/anime/shikimaru-temari.jpg' %}" class="card-img-top">
                    </div>
                    <div class="right">
                        <img src="{% static 'images/anime/nezuko.jpg' %}" class="card-img-top">
                        <img src="{% static 'images/anime/onepunch-man.jpg' %}" class="card-img-top">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Greatness</h5>
                    <p class="card-text text-muted">4 pins</p>
                </div>
            </div>      
            <div class="card text-center">
                <div class="row justify-content-center">
                    <div class="left">
                        <img src="{% static 'images/anime/nezuko1.jpg' %}" class="card-img-top">
                    </div>
                    <div class="right">
                        <img src="{% static 'images/anime/sarada2.jpg' %}" class="card-img-top">
                        <img src="{% static 'images/person/kill-it.jpg' %}" class="card-img-top">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Powerful</h5>
                    <p class="card-text text-muted">10 pins</p>
                </div>
            </div>      
            <div class="card text-center">
                <div class="row justify-content-center">
                    <div class="left">
                        <img src="{% static 'images/anime/luffy.jpg' %}" class="card-img-top">
                    </div>
                    <div class="right">
                        <img src="{% static 'images/anime/pain.jpg' %}" class="card-img-top">
                        <img src="{% static 'images/anime/kurama-naruto.jpg' %}" class="card-img-top">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Wisdom</h5>
                    <p class="card-text text-muted">3 pins</p>
                </div>
            </div>      
            <div class="card text-center">
                <div class="row justify-content-center">
                    <div class="left">
                        <img src="{% static 'images/anime/death-note.jpg' %}" class="card-img-top">
                    </div>
                    <div class="right">
                        <img src="{% static 'images/anime/kawaki1.jpg' %}" class="card-img-top">
                        <img src="{% static 'images/anime/obito-rin.jpg' %}" class="card-img-top">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Focus</h5>
                    <p class="card-text text-muted">5 pins</p>
                </div>
            </div>      
        </div>
    </section>
{% endblock content %}
    

{% block file_script %}
    <script src="{% static 'scripts/navbar.js' %}"></script>   
    <script src="{% static 'accounts/scripts/profile.js' %}"></script>   
{% endblock file_script %}
    