{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block file_css %}
    <link rel="stylesheet" href="{% static 'accounts/styles/specific-board.css' %}">  
    <link rel="stylesheet" href="{% static 'accounts/styles/plus-button.css' %}">  
{% endblock file_css %}

    
{% block title %} Pinterest {% endblock title %}


{% block content %}
    {% include 'sections/navbar.html' %}
    {% url 'accounts:delete-board' board.slug board.id as link %}
    {% include 'sections/delete-container.html' with description="Once you delete a board and all its Pins, you can't undo it!" link=link %}
    <div id="whole-content">
      <div class="space"></div>
        <div class="d-flex justify-content-center align-items-center align-content-center">
          <h1 class="text-center mt-3 board-name">{{ board.name }}</h1>
          <span class="mx-1"></span>
          <img src="{% static 'icons/waste-32.png' %}" alt="trash icon" id="delete-board-button" class="trash-icon d-flex align-items-center justify-content-center">
        </div>
        <h4 class="pins-count">{{ pins_length }} Pins</h4>        
        <div class="flex-container">            
            {% for pin in pins %}                            
              <div  class="card">
                <a href="{% url 'social_sharing:pin-detail' pin.pin_id %}">
                  <img src="{{ pin.image.url }}" class="card-img-top">
                  <div class="card-body">
                    <p class="card-text">{{ pin.title }}</p>  
                  </div>
                </a>
                <div class="card-body">                                    
                  {% if not request.user.firstname and not request.user.lastname and not request.user.profile_picture %}
                    <a href="{% url 'accounts:profile' %}" class="fullname"><p class="card-text"><span class="text-secondary fullname">None</span></p></a>                 
                  {% elif request.user.firstname and not request.user.profile_picture %}
                    <a href="{% url 'accounts:profile' %}" class="fullname"><p class="card-text"><span class="text-secondary fullname">{{ request.user.firstname }} {{ request.user.lastname }}</span></p></a>
                  {% else %}                
                    <a href="{% url 'accounts:profile' %}" class="fullname"><p class="card-text"><img src="{{ request.user.profile_picture.url }}" alt="profile picture" class="profile-pic-icon"> <span class="text-secondary fullname">{{ request.user.firstname }} {{ request.user.lastname }}</span></p></a>
                  {% endif %}                             
                </div>
              </div>              
            {% endfor %}    
        </div>
        
        {% if pins_length == 0 %}
          <p class="text-secondary text-center" id="message">There aren’t any Pins on this board yet</p>                        
          <section class="d-flex flex-column justify-content-center align-items-center" id="ideas-board-container">
              <a href="#suggest" class="ideas-board">
                  <h4>Find some ideas for this board:</h4>
                  <img src="{% static 'images/animals/2-cats.jpg' %}" alt="">
                  <img src="{% static 'images/anime/boruto-sarada.jpg' %}" alt="">
                  <img src="{% static 'images/anime/kawaki2.jpg' %}" alt="">
                  <img src="{% static 'images/furniture/backyard-patio.jpg' %}" alt="">
                  <img src="{% static 'images/travel/tuscany.jpg' %}" alt="">                                       
              </a>
              <div class="plus-container" id="plus-container">
                  <small class="text-muted">Create</small>
                  <a href="{% url 'social_sharing:pin-builder' %}"><li>Pin</li></a>
              </div>
          </section>
        {% else %}        
          <div class="there-are-pin">
            <div class="plus-container" id="plus-container">
              <small class="text-muted">Create</small>
              <a href="{% url 'social_sharing:pin-builder' %}"><li>Pin</li></a>
            </div>
          </div>
        {% endif %}

        <div class="for-mobile-container" id="for-mobile-container">
            <small class="text-muted">Create</small>
            <a href="{% url 'social_sharing:pin-builder' %}"><li>Pin</li></a>
        </div>
        <section class="text-center">
            <img src="{% static 'icons/plus-40.png' %}" alt="" id="plus-button" class="plus-button" tabindex="0">   
            <img src="{% static 'icons/plus-40.png' %}" alt="" id="for-mobile-button" class="for-mobile-button" tabindex="0">      
        </section>
        </section>
    </div>
{% endblock content %}  
        
{% block file_script %}
    <script src="{% static 'accounts/scripts/specific-board.js' %}"></script> 
    <script src="{% static 'accounts/scripts/plus-button.js' %}"></script> 
    <script src="{% static 'scripts/delete-container.js' %}"></script> 
{% endblock file_script %}
        