$grey-hover: rgb(224, 224, 224);
  
.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  margin-left: 5rem;
  margin-right: 5rem;
  .card {
    margin: 1rem .2rem;
    width: 14.8rem;
    border: none;
    position: absolute;
  }
  .card-body {
    padding: .5rem 0 0 0.4rem;
  }
  .card-text {
    font-size: 14px;
    color: #111111;
    font-weight: 500;
  }
  .card img {
    border-radius: 18px;
  }
}

@media only screen and (max-width: 910px) {
    .flex-container {
        margin: 0 4rem;
        .card {
          width: 12.8rem;
        }         
    }    
}

@media only screen and (max-width: 780px) {
    .flex-container {
        margin: 0 3rem;
        .card {
          width: 11.8rem;
        }        
    }    
}

@media only screen and (max-width: 705px) {
    .flex-container {
        margin: 0 5rem;
        .card {
          width: 13rem;
        }             
    }    
}

@media only screen and (max-width: 620px) {
    .flex-container {
        margin: 0 4rem;
        .card {
          width: 12.8rem;
        }             
    }    
}

@media only screen and (max-width: 570px) {
    .flex-container {
        margin: 0 3rem;                 
    }    
}

@media only screen and (max-width: 542px) {
    .flex-container {
        margin: 0 2rem;                 
    }    
}

@media only screen and (max-width: 512px) {
    .flex-container {
        margin: 0 1rem;                 
    }    
}

@media only screen and (max-width: 500px) {  
    nav { 
        a {
            margin: 0 0;
            padding: .5rem;    
        }      
    }
}

@media only screen and (max-width: 460px) {
    .flex-container {
        .card {
            width: 11.8rem;
          }             
    }    
}

@media only screen and (max-width: 422px) {
    .flex-container {
        .card {
            width: 10.8rem;
          }             
    }    
}

@media only screen and (max-width: 396px) {
    .flex-container {
        .card {
            width: 10.5rem;
          }             
    }    
}

@media only screen and (max-width: 386px) {
    .flex-container {
        .card {
            width: 9.5rem;
          }             
    }    
}