nav {
  font-weight: 500;
}
nav .log-in, nav .sign-up {
  padding: 0.8rem 0.7rem;
}
nav .log-in:hover, nav .log-in:hover, nav .sign-up:hover, nav .sign-up:hover {
  text-decoration: none;
}
nav .logo {
  width: 140px;
}

a:hover {
  text-decoration: underline;
  color: black;
}

.log-in {
  color: white !important;
}
.log-in:hover {
  background-color: #aa001a;
}

.sign-up {
  background-color: #EFEFEF !important;
}
.sign-up:hover {
  background-color: #E3E3E2 !important;
}

.no-bullet {
  list-style-type: none;
}

#weeknight-dinner {
  margin-top: 13rem;
  margin-left: 6rem;
  margin-bottom: 0;
  margin-right: 6rem;
  position: relative;
}
#weeknight-dinner h1 {
  font-size: 3.8rem;
}
#weeknight-dinner img {
  border-radius: 15px;
  margin: 0.5rem;
}
#weeknight-dinner .absolute {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#weeknight-dinner .width-plus {
  display: block;
}
#weeknight-dinner .width-800 {
  display: none;
}

#pictures-container-1200 {
  display: none;
}

#pictures-container-800 {
  display: none;
}

#pictures-container-500 {
  display: none;
}

#search-idea-container {
  padding: 5rem;
}
#search-idea-container .pictures-container {
  position: relative;
  width: 1000px;
  height: 200px;
  border: 3px solid #73AD21;
}
#search-idea-container .pictures-container h4 {
  border-radius: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.appear-500 {
  display: none;
}

#pictures-container-plus {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
#pictures-container-plus .column {
  display: flex;
  flex-direction: column;
}
#pictures-container-plus .first {
  margin-top: 1.5em;
}
#pictures-container-plus .second {
  margin-top: 8.4em;
}
#pictures-container-plus .third {
  margin-top: 14em;
}
#pictures-container-plus .fourth {
  margin-top: 1.5em;
}

@media only screen and (max-width: 1200px) {
  #pictures-container-plus {
    display: none;
  }
  #pictures-container-1200 {
    display: flex;
  }
  #pictures-container-1200 img {
    padding: 0 0.5rem;
  }
  #weeknight-dinner {
    margin-top: 8rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  #weeknight-dinner h1 {
    font-size: 3rem;
  }
  #weeknight-dinner .absolute {
    position: static;
  }
  #weeknight-dinner img {
    margin: 0.5rem 0;
  }
}
@media only screen and (max-width: 900px) {
  #pictures-container-1200 .remove-1200 {
    display: none;
  }
  #weeknight-dinner {
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media only screen and (max-width: 800px) {
  body {
    background-color: rgb(126, 126, 126);
  }
  .top-nav {
    display: none !important;
  }
  #pictures-container-1200 {
    display: none;
  }
  #weeknight-dinner {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  #weeknight-dinner img {
    border-radius: 15px;
    margin: 0.3rem 0;
  }
  #weeknight-dinner .absolute {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 50%;
  }
  #weeknight-dinner .width-plus {
    display: none;
  }
  #weeknight-dinner .width-800 {
    display: block;
  }
  #weeknight-dinner h1 {
    font-size: 2rem;
    color: white;
  }
  #pictures-container-800 {
    display: flex;
    filter: brightness(35%);
  }
  #pictures-container-800 img {
    padding: 0 0.2rem;
  }
  a:hover {
    text-decoration: none !important;
  }
}
@media only screen and (max-width: 500px) {
  .appear-500 {
    display: block;
  }
}/*# sourceMappingURL=home.css.map */