.top-margin {
    margin-top: 0;
}

h5.title {
    position: absolute;
    top: 5px;
    left: 45px;
}

img {
    width: 20px;
}

.home {
    position: relative;   
}

.create {
    width: 100px;
    h5 {
        margin-bottom: 0;
    }
}

.logo {
    width: 30px;
}

.search-field {
    background-color: #E9ECEF;
    padding: .6rem .6rem .6rem 0;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-left: none;
    &:hover {
        background-color: rgb(224, 224, 224);
    }
}    

.search-icon {
    padding-left: .9rem;
    border-right: none;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

.search-click {
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    padding: .6rem 1rem;
    background-color: rgb(224, 224, 224);
}

.profile {
    width: 40px;
    padding: 5px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: #E8E8E9;
    }
}

.chat-icon {
    margin: 0 .8rem;
    width: 40px;
    padding: 5px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: #E8E8E9;
    }
}

.arrow-down {
    width: 40px;
    padding: 5px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: #E8E8E9;
    }
}

a:hover {
    color: inherit;
} 