{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block file_css %}
  <link rel="stylesheet" href="{% static 'social_sharing/styles/create-pin.css' %}">        
{% endblock file_css %}
    

{% block title %} Pinterest {% endblock title %}
    

{% block content %}
  {% include 'sections/navbar.html' %}
  <div id="pin-creator-container">
    <form method="POST" id="create-pin-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="content">
      <section class="save-button-container">
        <div>
          {% render_field pin_form.board class='board' %}
          <button type="submit" class="background-primaryColor">Save</button>
        </div>
      </section>
      <section class="row mt-4">
        <div class="dis">
          <label for="{{ pin_form.image.id_for_label }}">Image:</label>
          {% render_field pin_form.image  %}
        </div>
        <div id="image-preview" class="col-5">
          <img src="{% static 'icons/trash-20.png' %}" alt="" id="delete-button" title="Delete image">
          <img src="" alt="" id="pin-image">
        </div>
        <label for="{{ pin_form.image.id_for_label }}" class="col-5 upload-picture-col" id="{{ pin_form.image.id_for_label }}">
          <div class="mt-5">
            <img src="{% static 'icons/arrow-up.png' %}" alt="" id="arrow-to-priority">
            <h4 class="mt-4" id="upload-text">Click to upload</h4>
          </div>
          <p>We recommend using high quality .jpg files less than 20MB</p>
        </label>
        <div class="col-7 form-col">
          <div>
            {% render_field pin_form.title class='title-field-custom' placeholder='Add your title' %}
            <div class="d-flex align-items-center profile-name">
              <div class="col-1">                
                {% if request.user.profile_picture %}
                  <img src="{{ request.user.profile_picture.url }}" class="img-fluid rounded-circle">                                        
                {% else %}
                  <h2 class="rounded-circle first-letter">{{ request.user.firstname|slice:"1" }}</h2>                  
                {% endif %}                  
              </div>
              <div class="mx-1"></div>
              <div class="col-11">
                <p style="font-size: 14px; font-weight: 500;" class="my-auto">{{ request.user.firstname }} {{ request.user.lastname }}</p>
              </div>
            </div>
            {% render_field pin_form.description class='description-field-custom' placeholder='Tell everyone what your Pin is about' %}
          </div>
          <div>
            {% render_field pin_form.destination_link class='link-field-custom' id='link-field-custom' placeholder='Add a destination link' %}
          </div>
        </div>
      </section>
    </div>
    </form>
  </div>
{% endblock content %}

{% block file_script %}
  <script src="{% static 'social_sharing/js/create-pin.js' %}"></script>   
{% endblock file_script %}