{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block file_css %}
  <link rel="stylesheet" href="{% static 'social_sharing/styles/pin-detail.css' %}">        
{% endblock file_css %}
    

{% block title %} Pinterest {% endblock title %}
    

{% block content %}
  {% include 'sections/navbar.html' %}
  <div id="whole">
    <div class="content">
      <section class="left">
        <img src="{{ pin.image.url }}" alt="" id="pin-image">
      </section>
      <section class="right">
        <div class="save-top d-flex align-items-center justify-content-between">
          <div>
            <img src="{% static 'icons/waste-32.png' %}" alt="trash icon" id="delete-board-button" class="trash-icon d-flex align-items-center justify-content-center">
          </div>  
          <div>
            {% render_field pin_form.board class='board' %}
            <button type="submit" class="background-primaryColor save-button">Save</button>
          </div>
        </div>
        <div class="user-middle d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center justify-content-between">
            <img src="{{ request.user.profile_picture.url }}" alt="" class="profile-picture-circle">
            <div class="mx-2"></div>
            <div class="d-flex flex-column align-items-center justify-content-center">
              <p class="fullname">{{ request.user.firstname }} {{ request.user.lastname }}</p>
              <p class="text-muted">685 followers</p>
            </div>  
          </div>
          <div>
            <button class="follow-btn">Follow</button>
          </div>
        </div>

        <div class="comments-bottom">
          <h2>{{ comments_length }} Comments</h2>
          <div id="comment-section">            
          {% if not comments %}                          
          <p class="text-muted no-comments">No comments yet! Add one to start the conversation.</p>
          {% else %}
          {% for comment in comments %}                        
            <div class="d-flex mt-2">
              <div class="d-flex">
                <img src="{{ request.user.profile_picture.url }}" alt="" class="profile-picture-circle">
                <div class="mx-1"></div>
                  <div class="user-info">
                    <span class="fullname">{{ request.user.firstname }}</span>
                    <br>
                    <span class="text-muted comment-ago">2d</span>
                    <span class="mx-2"></span>
                    <a href="" class="ml-2" id="heart-icon"><img src="{% static 'icons/heart-16.png' %}" alt=""></a>                  
                    <span class="text-muted heart-count">1</span>
                  </div>      
              </div>  
              <span class="text-comment">{{ comment }}</span>                       
            </div>   
          {% endfor %}
          {% endif %}      

        </div>  
          <form method="POST" class="comment-field">
            {% csrf_token %}
            <img src="{{ request.user.profile_picture.url }}" alt="" class="profile-picture-circle">
            <div class="mx-1"></div>
            {% render_field form.text class='comment-input' placeholder='Add a public comment' %}
            <button type="submit" class="comment-btn"><img src="{% static 'icons/comment-right-arrow-18.png' %}" alt="" class="arrow-icon"></button>
          </form>
        </div>
      </section>
    </div>
  </div>

{% endblock %}

{% block file_script %}
  <script src="{% static 'social_sharing/js/pin-detail.js' %}"></script>   
{% endblock file_script %}