{% load widget_tweaks %}

<form method="POST" id="create-board-container">
    {% csrf_token %}
    <h2>Create board</h2>    
    <div class="my-2">
        <small class="text-muted">Name</small>
        {% render_field board_form.name class='form-control' %}
    </div>
    <div class="d-flex align-items-center checkbox-div">
        <div>
            {% render_field board_form.is_secret class='form-check-input' %}
        </div>
        <div class="mx-1"></div>
        <div>
            <p class="mb-0 keep-secret">Keep this board secret</p>
            <p class="text-muted mb-0">So only you and collaborators can see it. <a href="https://help.pinterest.com/en/article/secret-boards?source=secret_create" class="text-muted fw-light">Learn more</a></p>
        </div>
    </div>
    <div class="button-div d-flex justify-content-end">
        <button type="submit" class="text-white background-primaryColor" name="create-board">Create</button>
    </div>
</form>
