{% load static %}

<nav class="top-nav d-flex justify-content-sm-between mx-4 top-margin" id="top-nav">
    <div class="col d-flex align-items-center">
      <img src="{% static 'logo/pinterest-badge.png' %}" alt="Logo" class="logo">
      <h5 class="pinterest-name text-primaryColor">Pinterest</h5>
    </div>
      <ul class="no-bullet d-flex align-items-center my-auto mx-0">
        <li class="mx-3"><a href="https://help.pinterest.com/en/guide/all-about-pinterest" target="_blank">About</a></li>
        <li class="mx-3"><a href="https://business.pinterest.com/en-us/" target="_blank">Business</a></li>
        <li class="mx-3"><a href="https://newsroom.pinterest.com/en" target="_blank">Blog</a></li>
        <div class="mx-2"></div>
        <li class="mx-1"><a href="#log-in" class="log-in background-primaryColor rounded-pill" id="log-in">Log in</a></li>
        <li class="mx-1"><a href="#sign-up" class="sign-up rounded-pill" id="sign-up">Sign up</a></li>
      </ul>
  </nav>