{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">    
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">  
    <link rel="icon" href="{% static 'logo/pinterest-badge.png' %}" type="image/x-icon">
    {% block file_css %}
        
    {% endblock file_css %}        
    <title>{% block title %} Pinterest {% endblock title %}</title>
</head>
<body>    
    {% block content %}
        
    {% endblock content %}
            
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>    
    {% block file_script %}

    {% endblock file_script %}
    
    {% if request.user.is_authenticated %}
        <script src="{% static 'scripts/navbar.js' %}"></script>           
    {% endif %}
        
</body>
</html>