.space {
  margin: 5rem 0;
}

#top .profile-picture {
  height: 120px;
  width: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 100%;
}
#top h1 {
  background-color: #E9E9E9;
  width: 8rem;
  padding: 42px;
}
#top .username-pronoun {
  font-size: 14px;
}
#top .website {
  font-weight: 500;
}
#top .website:hover {
  text-decoration: underline;
}
#top .about {
  margin-bottom: 0.4rem;
}
#top .following {
  margin-bottom: 1.5rem;
}
#top p {
  margin-bottom: 0;
}
#top .edit-profile {
  background-color: #EFEEEE;
}
#top .edit-profile:hover {
  background-color: #e0e0e0;
}
#top a {
  padding: 1rem;
}

.plus-container {
  display: none;
  position: absolute;
  top: 0;
  right: 17px;
}

#middle {
  margin: 3rem 0 0;
}
#middle p {
  font-weight: 500;
  border-bottom: 3px solid black;
  border-radius: 1.5px;
}

#bottom {
  position: relative;
}
#bottom .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1rem;
}
#bottom .flex-container .row > * {
  padding-left: 0;
  padding-right: 0;
}
#bottom .flex-container .card {
  max-width: 252px;
  margin: 1.2rem;
  border: none;
  background-color: transparent;
}
#bottom .flex-container .card .left {
  width: unset;
  margin-right: 3px;
  position: relative;
}
#bottom .flex-container .card .right {
  width: unset;
}
#bottom .flex-container .card .left img.lock-icon {
  position: absolute;
  top: 7px;
  left: 7px;
  background-color: #FEFFFE;
  padding: 3px;
  border-radius: 100%;
}
#bottom .flex-container .card .left img.top {
  border-top-left-radius: 10px;
}
#bottom .flex-container .card .left img.bottom {
  border-bottom-left-radius: 10px;
}
#bottom .flex-container .card .left img.card-img-top {
  width: 157px;
  height: 157px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
#bottom .flex-container .card .right img.card-img-top {
  width: 76.66px;
  height: 76.5px;
  -o-object-fit: cover;
     object-fit: cover;
}
#bottom .flex-container .card .right img.top {
  border-top-right-radius: 10px;
}
#bottom .flex-container .card .right img.bottom {
  border-bottom-right-radius: 10px;
}
#bottom .flex-container .card-body {
  padding: 0.5rem 0 0 0.4rem;
}
#bottom .flex-container .card-title {
  margin-bottom: 0.2rem;
}
#bottom .flex-container .card-text {
  font-size: 12px;
  color: #111111;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .space {
    margin: 0 0;
  }
  #bottom {
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 584px) {
  #middle {
    margin: 2rem 0;
  }
}
@media only screen and (max-width: 543px) {
  #bottom .flex-container {
    margin: 0 0;
  }
  #bottom .flex-container .card {
    max-width: 100%;
    margin: 1.2rem;
  }
  #bottom .flex-container .card .left img.top {
    border-top-left-radius: 7px;
  }
  #bottom .flex-container .card .left img.bottom {
    border-bottom-left-radius: 7px;
  }
  #bottom .flex-container .card .left img.card-img-top {
    width: 137px;
    height: 137px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
  }
  #bottom .flex-container .card .right img.card-img-top {
    width: 66.66px;
    height: 66.5px;
  }
}
@media only screen and (max-width: 455px) {
  #bottom .flex-container {
    margin: 0 0;
  }
  #bottom .flex-container .card {
    max-width: 100%;
    margin: 1.2rem;
  }
  #bottom .flex-container .card .left img.card-img-top {
    width: 117px;
    height: 117px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
  }
  #bottom .flex-container .card .right img.card-img-top {
    width: 58.66px;
    height: 58.5px;
  }
}/*# sourceMappingURL=profile.css.map */