#top .profile-picture {
  height: 120px;
  width: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 100%;
}
#top h1 {
  background-color: #E9E9E9;
  width: 8rem;
  padding: 42px;
}
#top .username-pronoun {
  font-size: 14px;
}
#top .website {
  font-weight: 500;
}
#top .website:hover {
  text-decoration: underline;
}
#top .about {
  margin-bottom: 0.4rem;
}
#top .following {
  margin-bottom: 1.5rem;
}
#top p {
  margin-bottom: 0;
}
#top .edit-profile {
  background-color: #EFEEEE;
}
#top .edit-profile:hover {
  background-color: #e0e0e0;
}
#top a {
  padding: 1rem;
}

.plus-container {
  display: none;
  position: absolute;
  top: 0;
  right: 17px;
}

#create-board-container {
  display: none;
  padding: 24px;
  background-color: #FFFEFE;
  width: 520px;
  border-radius: 16px;
  position: absolute;
  top: 510px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  pointer-events: auto;
}
#create-board-container h2 {
  font-size: 28px;
  text-align: center;
  padding: 24px;
}
#create-board-container small {
  font-size: 12px;
}
#create-board-container input[type=text] {
  padding: 8px 16px;
  border-radius: 16px;
  border-width: 2px;
  border-style: solid;
}
#create-board-container input[type=text]:hover {
  border-color: #a1a1a1;
}
#create-board-container .form-check-input {
  padding: 10px;
  cursor: pointer;
  border-radius: 7px;
}
#create-board-container .form-check-input:checked {
  background-color: #111010;
  border-color: #111010;
}
#create-board-container .form-check-input:focus {
  outline: none;
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}
#create-board-container .checkbox-div {
  padding: 24px 0;
}
#create-board-container p.keep-secret {
  font-weight: 500;
}
#create-board-container button {
  min-width: 60px;
  min-height: 48px;
  padding: 12px 16px;
  border-radius: 24px;
  border: 0;
}

#middle {
  margin: 3rem 0 0;
}
#middle p {
  font-weight: 500;
  border-bottom: 3px solid black;
  border-radius: 1.5px;
}

#bottom {
  position: relative;
}
#bottom .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1rem;
}
#bottom .flex-container .row > * {
  padding-left: 0;
  padding-right: 0;
}
#bottom .flex-container .card {
  max-width: 252px;
  margin: 1.2rem;
  border: none;
  background-color: transparent;
}
#bottom .flex-container .card .left {
  width: unset;
  margin-right: 3px;
  position: relative;
}
#bottom .flex-container .card .right {
  width: unset;
}
#bottom .flex-container .card .left img.lock-icon {
  position: absolute;
  top: 7px;
  left: 7px;
  background-color: #FEFFFE;
  padding: 3px;
  border-radius: 100%;
}
#bottom .flex-container .card .left img.top {
  border-top-left-radius: 10px;
}
#bottom .flex-container .card .left img.bottom {
  border-bottom-left-radius: 10px;
}
#bottom .flex-container .card .left img.card-img-top {
  width: 157px;
  height: 157px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
#bottom .flex-container .card .right img.card-img-top {
  width: 76.66px;
  height: 76.5px;
  -o-object-fit: cover;
     object-fit: cover;
}
#bottom .flex-container .card .right img.top {
  border-top-right-radius: 10px;
}
#bottom .flex-container .card .right img.bottom {
  border-bottom-right-radius: 10px;
}
#bottom .flex-container .card-body {
  padding: 0.5rem 0 0 0.4rem;
}
#bottom .flex-container .card-title {
  margin-bottom: 0.2rem;
}
#bottom .flex-container .card-text {
  font-size: 12px;
  color: #111111;
  font-weight: 500;
}

@media only screen and (max-width: 665px) {
  #create-board-container {
    padding: 15px;
    width: 420px;
    top: 410px;
  }
  #create-board-container h2 {
    font-size: 20px;
    padding: 15px;
  }
  #create-board-container input[type=text] {
    padding: 6px 14px;
    border-width: 1px;
  }
  #create-board-container .checkbox-div {
    padding: 20px 0;
  }
  #create-board-container p {
    font-size: 14px;
  }
  #create-board-container button {
    min-width: 50px;
    min-height: 38px;
    padding: 10px 14px;
    border-radius: 24px;
  }
}
@media only screen and (max-width: 600px) {
  #bottom {
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 584px) {
  #middle {
    margin: 2rem 0;
  }
}
@media only screen and (max-width: 543px) {
  #bottom .flex-container {
    margin: 0 0;
  }
  #bottom .flex-container .card {
    max-width: 100%;
    margin: 1.2rem;
  }
  #bottom .flex-container .card .left img.top {
    border-top-left-radius: 7px;
  }
  #bottom .flex-container .card .left img.bottom {
    border-bottom-left-radius: 7px;
  }
  #bottom .flex-container .card .left img.card-img-top {
    width: 137px;
    height: 137px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
  }
  #bottom .flex-container .card .right img.card-img-top {
    width: 66.66px;
    height: 66.5px;
  }
}
@media only screen and (max-width: 500px) {
  #create-board-container {
    padding: 15px;
    width: 350px;
    top: 360px;
  }
  #create-board-container h2 {
    font-size: 19px;
    padding: 14px;
  }
  #create-board-container input[type=text] {
    padding: 5px 13px;
  }
  #create-board-container .checkbox-div {
    padding: 19px 0;
  }
  #create-board-container p {
    font-size: 13px;
  }
  #create-board-container button {
    min-width: 40px;
    min-height: 28px;
    padding: 9px 13px;
    border-radius: 20px;
  }
}
@media only screen and (max-width: 455px) {
  #bottom .flex-container {
    margin: 0 0;
  }
  #bottom .flex-container .card {
    max-width: 100%;
    margin: 1.2rem;
  }
  #bottom .flex-container .card .left img.card-img-top {
    width: 117px;
    height: 117px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
  }
  #bottom .flex-container .card .right img.card-img-top {
    width: 58.66px;
    height: 58.5px;
  }
}/*# sourceMappingURL=profile.css.map */