h1.board-name {
    font-size: 36px;
}

img.trash-icon {
    background-color: #EEEFEE;
    border-radius: 100%;
    margin-top: .5rem;    
    width: 32px;
    cursor: pointer;
    padding: 8px;
    width: 38px;
    &:hover {
        background-color: #e7e7e7;
    }
}

#delete-board-container  {
    display: none;
    background-color: #FFFEFE;
    width: 540px;
    border-radius: 16px;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 99;
    pointer-events: auto;

    h1.delete-question {
        font-size: 28px;
        padding: 24px;
        text-align: center;
    }
    p.warning-description {
        padding: 16px;
    }
    div.buttons-div {
        padding: 24px;
    }
    button {
        padding: 4px;
        outline: none;
        border: 0;
        font-weight: 500;
        height: 48px;
        padding: 16px;
        text-align: center;
        border-radius: 24px;
        margin: 4px;
        width: 100%;
    }
    button.cancel-btn {
        background-color: #eeefee;
        &:hover {
            background-color: #e2e2e2;            
        }
    }
    button.delete-btn {
        color: white;
        &:hover {
            background-color: #be001d;
        }
    }
}

h4 {
    font-size: 20px;
}

.pins-count {
    margin: 5rem 0 0 2rem;
}

#message {
    margin-bottom: 6rem;
}

.ideas-board {
    position: relative;
    padding: 1.3rem;
    border-radius: 16px;
    img {
        width: 150px;
    }
    &:hover {
        background-color: #E8E9E8;
    }
}

.plus-button {
    margin-right: 0 !important;
}

#ideas-board-container {
    position: relative;
    .plus-container {
        position: absolute;
        bottom: 0px;
    }
}

.there-are-pin .plus-container {
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#for-mobile-button {
    display: none;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 5rem;
    .card {
      margin: 1rem .5rem;
      width: 252px;
      border: none;
      background-color: transparent;
    }
    .card-img-top {
        width: 236px;
        height: auto;        
      }
    .card-body {
      padding: .5rem 0 0 0.4rem;
    }
    .card-text {
      font-size: 14px;
      color: #111111;
      font-weight: 500;
    }
    .card img {
      border-radius: 18px;
    }
    .profile-pic-icon {
        height: 32px;
        width: 32px;
        object-fit: cover;
    }
    a.fullname {
        &:hover {
            text-decoration: underline;
        }
    }
    span.fullname {
        font-size: 14px;

    }
}

@media only screen and (max-width: 992px) {
    .flex-container {
        margin: 0 2rem;    
    }
}

@media only screen and (max-width: 890px) {
    .flex-container {
        margin: 0 2rem;    
        .card {
            margin: 1rem .5rem;
            width: 212px;
        }
        .card-img-top {
              width: 196px;
        }
    }
}

@media only screen and (max-width: 852px) {
    .ideas-board {   
        img {
            width: 120px;
        }
    }
}

@media only screen and (max-width: 816px) {
    .flex-container {
        margin: 0 1rem;
        .card {
            margin: .4rem .3rem;
            width: 192px;
        }
        .card-img-top {
            width: 186px;
        }
    }
}

@media only screen and (max-width: 700px) {
    .flex-container {
        .card {
            margin: .4rem .3rem;
        }
    }
}

@media only screen and (max-width: 689px) {
    #ideas-board-container {
        display: none !important;
    }  
    .plus-button {
        display: none !important;
    }
    #for-mobile-button {
        display: block;
        margin: 0 auto 0 auto;
    }         
    .show-mobile-container {
        display: block !important;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 55px;
    }
}

@media only screen and (max-width: 636px)  {
    .flex-container {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 600px) {
    .plus-icon {
        bottom: 60px;
    }
    .flex-container {
        margin: 0 0 1rem 0;
    }
    .show-mobile-container {
        bottom: 55px;
    }
    #for-mobile-button {
        display: block;
        margin: 0 auto 4rem auto;
    } 
}

@media only screen and (max-width: 520px) {
    h1 {
        font-size: 25px;
    }
    .pins-count {
        margin: 1rem 0;
        text-align: center;
        font-size: 15px;
    }
    
}

@media only screen and (max-width: 416px) {
    .flex-container {
        .card {
            width: 172px;
        }
        .card-img-top {
            width: 166px;
        }
    }
}

@media only screen and (max-width: 416px) {
    .flex-container {
        .card {
            width: 142px;
        }
        .card-img-top {
            width: 136px;
        }
    }
}