$primaryColor: #E70223;
$secondaryColor: #FFFE92;
$brownGold: #C28B02;
$font-color: #111010;
$background-color: #FEFFFE;

.text-brownGold {
    color: $brownGold;
}

.text-primaryColor {
    color: $primaryColor;
}

.background-primaryColor {
    background-color: $primaryColor;
}